*{
    font-size: 50pt;
    font-family: Calibri;
    font-weight: lighter;
}

html{
    padding: 0;
}

body {
    background: #333333;
    margin: 0;
}

header {
    background: #00c8ff;
    border-bottom: solid 10px #00a1ff;
}

h1, h1 span{
    font-size: 100pt;
    margin: 0;
    color: white;
}



button {
    display: block;
    background: #00c8ff;
    border: none;
    border-bottom: solid 10px #00a1ff;
    color: white;
    margin: 30px 0;
    text-align: center;
}

button:active {
    background: #5bdcff;
    border: none;
    border-bottom: solid 10px #00a1ff;
    color: white;
}

button.camButton{
    width: 80%;
    height: 500px;
}

button.camButton img {
    transform: rotate(0deg);
    width: 40%;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

button.camButton:hover img, button.camButton:active img {
    transform: rotate(90deg);
}

button.menuButton {
    width: 80%;
    height: 200px;
}