<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LVS_Library.Properties.Settings.ConnectionString"
            connectionString="Driver={Driver da Microsoft para arquivos texto (*.txt; *.csv)};defaultdir=C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE;driverid=27;fil=text;filedsn=C:\Users\felix\Documents\tets.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=root;usercommitsync=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>