<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LVS_Lagerverwaltungssystem_PCUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <LVS_Lagerverwaltungssystem_PCUI.Properties.Settings>
            <setting name="Database_Name" serializeAs="String">
                <value>lsv_lagerverwaltungssystem</value>
            </setting>
            <setting name="Database_IP" serializeAs="String">
                <value>81.10.155.134</value>
            </setting>
            <setting name="Database_Port" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="Database_Login_Name" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Database_Login_Password" serializeAs="String">
                <value>cola0815</value>
            </setting>
        </LVS_Lagerverwaltungssystem_PCUI.Properties.Settings>
    </userSettings>
</configuration>
